@charset "UTF-8";


* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    min-height: 100vh;
    background-color: darkgrey;
}


header {
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: larger;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
}

section.imagem>p {
    background-color: rgba(20, 20, 20, 0.322);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}